input{
    margin: 11px;
   
    }

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200vh;
}

form{
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 30px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:35px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* <!-Frequency scale css--> */

body {
    font-family: Arial, sans-serif;
    background-color:aquamarine;
    padding: 20px;
    margin: 0;
}


.likert-content {
    padding: 10px 0;
}


.likert-row {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.header {
    font-weight: fontawesome;
    background-color: white;
}

.product, .frequency {
    flex: 1;
    text-align: center;
}

.even,.even {
    background-color: #f3f1f1;
}

.frequency input[type="radio"] {
    transform: scale(1.5); /* Increase the size of the radio buttons */
    margin: 0; /* Remove default margin */
}




